main {
  min-height: 100vh;
  width: 100%;
  /* padding: 3em; */
}

.contrast-checker {
  height: 100%;
  width: 100%;
  padding: 3em;
}

.ratio-wrapper :first-child {
  font-size: 10em;
  padding-right: 0.5em;
}

.ratio-wrapper :last-child {
  font-size: 2em;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* Level Section */
.levels {
  display: flex;
}

.level-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3em;
}

.level-wrapper .level {
  font-size: 1.5em;
}

.level-wrapper .grade {
  background-color: #fff;
  border-radius: 4px;
  padding: 0.3em 0.5em 0.3em 0.5em;
  min-width: 5.3em;
  text-align: center;
  font-weight: bold;
  outline: 1px solid currentColor;
}

.level-wrapper .grade {
  justify-content: flex-start;
}

.level-wrapper .grade.pass {
  color: #085911;
}
.level-wrapper .grade.pass svg {
  font-size: 2em;
}

.level-wrapper .grade.fail {
  color: #af0e0e;
}
.level-wrapper .grade.fail svg {
  font-size: 2em;
  padding: 4px 0;
}

.theme-checker {
  margin: 3em 0 0 0;
}

.theme-checker label {
  margin: 1em 0 0 0;
}

.theme-checker #themeColours {
  max-width: 50%;
}

.colour-pickers {
  flex-wrap: wrap;
}

.colour-pickers .foreground {
  margin-right: 4em;
  /* min-width: 355px; */
}
